.navbar {
  position: relative;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
}

.action-button {
}

@media (min-width: 768px) {
  navbar-brand {
    position: relative;
    bottom: 100px;
  }
}

.navbar-brand{

  width: 201px;
  margin: 0px;

}

.nav-link{

--bs-body-font-weight: normal;
font-size: 20px;

}

.message1-box{
  background-color: #0E0E10;
  padding: 5px 0;
}

.message1{

  background-color: #0E0E10;
  color: white;
  margin: 50px 100px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
}

#toggle-text {
  position: relative;
}

html{
  font-family: 'Source Sans Pro', sans-serif !important;
} 